.Slider{
    position: absolute;
    width: 100vw;
    height: 15vh;
    display: flex;
    overflow: hidden;
    position: relative;
    border: 1px solid #a40000;
    background-color: white;
    }
.Linha{
    display: flex;
    width: 33%;
    height: 100%;
    border: 1px solid #a40000;
}
.Cor{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
    flex-wrap: wrap; 
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Container{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    position: relative;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}

.NomeBolinha{
    width: 100%;
    height: 40%;
    display: flex;
    transition: all 0.5s;
    align-items: left; 
    position: relative;
    margin-bottom: 0;
    padding: 0;
    text-align: center;
    justify-content: left;
}
.Nome {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:rgb(243, 47, 47);


}
.Nome1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:blueviolet;


}
.Nome2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color:rgb(3, 157, 134)

}
.Bolinha {
    width: 15%;
    height: 30%;    
    border-radius: 100%;
    transition: all 0.5s;
    border: 1px solid black;
    background-color: green;
    margin-top: 12px;

}
 .Descricao{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30%;
    display: flex;
    transition: all 0.5s;
    text-align: center;
} 

.Situacao{
    width: 100%;
    height: 30%;
    display: flex;
    transition: all 0.5s;

}

.ColumnBar{
    width: 30%;
    height: 70%;
    background-color: rgb(243, 47, 47);
    display: flex;
    transition: all 0.5s;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
}
.ColumnBar1{
    width: 30%;
    height: 70%;
    background-color: blueviolet;
    display: flex;
    transition: all 0.5s;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
}
.ColumnBar2{
    width: 30%;
    height: 70%;
    background-color: rgb(3, 157, 134);
    display: flex;
    transition: all 0.5s;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
}
.Last{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    height: 30%;
    display: flex;
    transition: all 0.5s;
    text-align: center;
}
.Skip{
    width: 20%;
    height: 30%;
}