.Pai{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
    background-color: #a40000;
    padding-left: 10px;
}
.Logo_CPTM{
    padding-top: 5px;
    margin-left: 20px;
}
.Menu_Ham{
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.Menu_Ham:hover{
    background-color: #e90000; 
}
.Linhas{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-right: 10px;
}

